.vh100 {
  height: 100vh;
}

.bg-icon {
  width: 40rem;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
}

.dark-bg {
  background-color: #000c19;
}

.flex-cenetered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form img {
  width: 100%;
  max-height: 5rem;
  border-radius: 5px;
}

form button {
  background-color: #001f3f!important;
  color: #fff!important;
}
form button:hover {
  background-color: #023c76!important;
}