.video-conatiner {
  background-color: #000;
  height: 70vh;
  display: flex;
  justify-content: center;

  video {
    height: 100%;
  }
}

.video-desc {
  .like-dislike {
    img {
      width: 1.3rem;
    }
  
    span {
      font-size: large;
      padding: 0 0.8rem 0 0.1rem;
    }

    margin-bottom: 0.5rem;
  }
}